@model adwWEB.ViewModel.ProductView

@{
    ViewBag.Title = "Details";
}


<div>

    @Html.Partial("ProductHead", Model)
    @if (Model.WithPhoto)
    {
        foreach (var item in Model.Product.ProductProductPhoto)
        {
            @Html.Partial("PhotoView", item.ProductPhoto)
        }
    }


    <hr />
    @if (Model.ProductListPriceHistory.Any())
    {
        @Html.Partial("Chart", Model.ProductListPriceHistory)
       


    }

    <hr />
    Inne produkty
    <table>
        <tr>
        @foreach (var item in Model.ProductViewListRandow)
        {

<td>
    @Html.Partial("ProductHead", item)
</td>

        }</tr>
    </table>
</div>
<p>

    @Html.ActionLink("Back to List", "Index")
</p>
