

@model PagedList.IPagedList<adwWEB.ViewModel.ProductView>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<p>
    @using (Html.BeginForm("Index", "Home", FormMethod.Get))
    {
        <div >
            Subcategory @Html.DropDownList("sub", new SelectList(ViewBag.sub), "-please select item-", new { @class = "form-control" })
         Category @Html.DropDownList("cat", new SelectList(ViewBag.cat), "-please select item-", new { @class = "form-control" })
            <input type="submit" class="btn btn-success" value="search" />
        </div>
    }
</p>




@Html.PagedListPager(Model, page => Url.Action("Index", new { page, cat = ViewBag.cat1, sub = ViewBag.sub1 }))


<table class="table">
    <tr>
        <th>
            Id
        </th>
        <th>
            Nazwa produktu
        </th>
        <th>
            ProductSubcategoryName
        </th>
        <th>
            CategoryName
        </th>
        <th></th>
        <th>
            Detail
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.ProductID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductSubcategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ProductCategoryName)
            </td>
            <td>
          
                @Html.CheckBoxFor(m => item.WithPhoto, new { @disabled = "disabled" })
            </td>
            <td>
         
                @Html.ActionLink("Link do opisu", "Details", new { id = item.Id }) 
            </td>
        </tr>
    }

</table>

@Html.PagedListPager(Model, page => Url.Action("Index", new { page,cat= ViewBag.cat1,sub= ViewBag.sub1 }))


