

@model PagedList.IPagedList<adwWEB.ViewModel.ProductViewList>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>


@Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
<table class="table">
    <tr>
        <th>
            Nazwa produktu
        </th>
        <th>
            ProductSubcategoryName
        </th>
        <th>
            CategoryName
        </th>
        <th>
            Detail
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.NameProduct)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductSubcategoryName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductCategoryName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

@Html.PagedListPager(Model, page => Url.Action("Index",   new { page }))


